<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>eCommerce - website | Checkout</title>
		<link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="../../assets/lib/bootstrap-5.1/bootstrap.min.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
		<link rel="stylesheet" href="../../styles/global.css" />
		<link rel="stylesheet" href="../../styles/bestProduct.css" />
		<link rel="stylesheet" href="../../styles/footer.css" />
		<link rel="stylesheet" href="../../styles/cart.css" />
        <link rel="stylesheet" href="../../styles/checkout.css">
	</head>
	<body>
		<!-- go to top button -->
		<a href="#" class="goTop">
			<span class="fas fa-arrow-up"></span>
		</a>
		<!-- menu wrapper -->
		<div class="menu-wrapper">
			<div class="menu-wrapper-heading">
				<a href="../../index.html"></a>
			</div>
			<div class="accordion-links">
				<div class="accordion custom-accordion" id="accordionExample"> 
					<a href="../../index.html" class="wrap-link extra-padding">Home</a>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button custom-acc-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Shop
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body custom-acc-body">
								<a href="../../views/shop/shopSingles.html">Single Shop</a>
								<a href="../../views/shop/shopDetails.html">Details Shop</a>
							</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button custom-acc-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Pages
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body custom-acc-body">
								<a href="../../views/pages/login.html">Login</a>
								<a href="../../views/pages/cart.html">Cart</a>
								<a href="../../views/pages/checkout.html">Checkout</a>
								<a href="../../views/pages/404.html">404 Page</a>
							</div>
						</div>
					</div>
					<a href="../contact.html" class="wrap-link">Contact Us</a>
				</div>
			</div>
		</div>
		<header>
			<!-- main navbar -->
			<nav class="main-nav">
				<div class="links">
					<a href="#" class="slider-logo"><i class="fas fa-sliders-h"></i></a>
					<a href="../../index.html">Home</a>
					<div class="shop-link">
						<a href="#" class="sub-menu">Shop</a>
						<div class="expand-menu">
							<a href="../../views/shop/shopSingles.html">Single Shop</a>
							<a href="../../views/shop/shopDetails.html">Details Shop</a>
						</div>
					</div>
					<div class="shop-link">
						<a href="#" class="sub-menu">Pages</a>
						<div class="expand-menu">
							<a href="../../views/pages/login.html">Login</a>
							<a href="../../views/pages/cart.html">Cart</a>
							<a href="../../views/pages/checkout.html">Checkout</a>
							<a href="../../views/pages/404.html">404 page</a>
						</div>
					</div>					
					<a href="../contact.html">Contact Us</a>
				</div>
				<div class="brand">
					<a href="../../index.html">Fortune.</a>
				</div>
				<div class="menus">
					<a href="../../views/pages/login.html">Login</a>
					<span> | </span>
					<a href="#" id="searching"><i class="fas fa-search"></i></a>
					<a href="#"><i class="far fa-heart"></i></a>
					<a href="../../views/shop/shopSingles.html"><i class="fas fa-shopping-bag"></i></a>
				</div>
				<!-- nav button on screen changes -->
				<div class="nav-menu-btn">
					<a href="#" class="bars-btn"><span class="nav-menu-btn-bars"><i class="fas fa-bars"></i></span></a>
					<a href="#" class="cross-btn"><span class="nav-menu-btn-x"><i class="fas fa-times"></i></span></a>
				</div>
			</nav>
			<div class="search-bar-wrapper-hide">
				<div class="search-option">
					<span>Search</span>
					<span class="cls-btn"><i class="fas fa-times"></i></span>
					<form class="search-input">
						<input type="search" name="search" id="search-box" placeholder="Search text">
						<button type="submit">Search</button>
					</form>
				</div>
			</div>
		</header>
		<!-- breadcrumb content -->
		<section class="container-fluid breadcrumb-section">
			<div class="breadcrumb-area">
				<h3>CHECKOUT</h3>
				<div class="breadcrumb-links">
					<a href="../../index.html">Home</a> - <a href="#">Checkout</a>
				</div>
			</div>
		</section>
		<!-- checkout description -->
		<section class="container-fluid">
			<div class="container-body">
                <form action="./404.html" class="row">
                    <div class="col-md-6 col-12 card-info">
                        <h5>Billing Address</h5>
                        <div>
                            <div class="checkout-input-section">
                                <label class="text-muted" for="fname">Full Name*</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="checkout-input-section">
                                <label class="text-muted" for="address">Company Name (optional)</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="checkout-input-section d-flex gap-3">
                                <div class="country w-100">
                                    <label class="text-muted" for="country">Country*</label>
                                    <select class="form-select" name="country" id="country">
                                        <option value="--select country--"> --select country-- </option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="USA">USA</option>
                                        <option value="India">India</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="China">China</option>
                                    </select>
                                </div>
                                <div class="postal-code w-100">
                                    <label class="text-muted" for="postal-code">Postal code*</label>
                                    <input type="number" class="form-control" required>
                                </div>
                            </div>
                            <div class="checkout-input-section d-flex gap-3">
                                <div class="zip-code w-100">
                                    <label class="text-muted" for="zip-code">Zip code*</label>
                                    <input type="number" class="form-control" required>
                                </div>
                                <div class="validity w-100">
                                    <label class="text-muted" for="validity">Card validity*</label>
                                    <input type="date" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 payment-method-section">
                        <table class="payment-method">
                            <tr>
                                <th>Product Info</th>
                                <th>Product Price</th>
                            </tr>
                            <tr>
                                <td class="text-muted">Main price</td>
                                <td class="text-muted">$130.00</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Shipping fee</td>
                                <td class="text-muted">$13.00</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>$143.00</td>
                            </tr>                            
                            <tr>
                                <td colspan = "2">
                                    <div>
                                        <div class="banking">
                                            <div class="d-flex">
                                                <input id="banking" name="payment" onclick="cashMethodAction(this);" class="form-check-input me-2" type="radio" value="bank" checked>
                                                <label for="banking"> Bank </label>
                                            </div>
                                            <select class="form-select mb-4" id="bank">
                                                <option value=1> --Send a check-- </option>
                                                <option value=2>Western Bank</option>
                                                <option value=3>East West Bank</option>
                                            </select>
                                        </div>
                                        <div class="payment-process">
                                            <div class="d-flex">
                                                <input id="cashDel" name="payment" onclick="cashMethodAction(this);" class="form-check-input me-2" type="radio" value="cash">
                                                <label for="cashDel"> Cash On Delivery </label>
                                            </div>
                                            <select class="form-select mb-4" id="cash" disabled>
                                                <option value=4> --Pay With Cash-- </option>
                                                <option value=5>USD ($)</option>
                                                <option value=6>TAKA (৳)</option>
                                                <option value=7>POUND (£)</option>
                                                <option value=8>RUPEE (₹)</option>
                                                <option value=9>EURO (€)</option>
                                                <option value=10>RMB (¥)</option>
                                            </select>
                                        </div>
                                        <div class="policy-payment">
                                            <a href="#">Privacy policy</a>
                                            <button type="submit" class="btn shop-btn mt-0">Proceed To Payment</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </section>
		<!-- footer section -->
		<footer class="container-fluid">
			<div class="container-body">
				<div class="row">
					<div class="col-xl-3 col-md-6 col-12">
						<div class="footer-heading">
							Customer Services
						</div>
						<div class="footer-des">
							Aempor tellus dictumst lectus earum necessitatibus consequunturo
						</div>
						<div class="location-head">
							LOCATION
						</div>
						<div class="location-place">
							754 Road, 36 Floor New York, USA
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-12">
						<div class="footer-heading">
							Our Shop
						</div>
						<div class="footer-links">
							<a href="#">Wooden Chair</a>
							<a href="#">Plastic Table</a>
							<a href="#">Pendent Light</a>
							<a href="#">Bottle</a>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-12">
						<div class="footer-heading">
							Useful Links
						</div>
						<div class="footer-links">
							<a href="#">About Us</a>
							<a href="#">Tearm of Service</a>
							<a href="#">Privacy Policy</a>
							<a href="#">Shipping</a>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-12">
						<div class="footer-heading">
							Social Profile
						</div>
						<div class="download-des">
							Download From <br>App Store
						</div>
						<div class="app-stores">
							<a href="#">
								<img src="../../assets/images/footer-app-img-1.png" alt="app-1">
							</a>
							<a href="#">
								<img src="../../assets/images/footer-app-img-2.png" alt="app-2">
							</a>
						</div>
					</div>
					<!-- last section for footer -->
					<div class="col-12">
						<div class="container-fluid p-0">
							<div class="row last-footer-sec">
								<div class="col-md-3 col-12 icon-align">
									<div class="social-media-icons">
										<a href="#"><span><i class="fab fa-facebook"></i></span></a>
										<a href="#"><span><i class="fab fa-instagram"></i></span></a>
										<a href="#"><span><i class="fab fa-twitter"></i></span></a>
										<a href="#"><span><i class="fab fa-youtube"></i></span></a>
										<a href="#"><span><i class="fab fa-pinterest"></i></span></a>
									</div>
								</div>
								<div class="col-md-9 col-12 copyright-align">
									All right reserved © by <a href="https://preview.themeforest.net/item/foxture-minimal-ecommerce-html-template/full_screen_preview/34000437?_ga=2.200351145.621205759.1634125966-1231243636.1634117389">Egens Lab</a> & cloned by <a href="https://github.com/Sharif-Minhaz">Minhaz</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="../../assets/lib/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
		<script src="../../assets/lib/bootstrap-5.1/bootstrap.bundle.min.js"></script>
        <script src="../../assets/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
		<script src="../../scripts/main.js"></script>
		<script src="../../scripts/shop.js"></script>
		<script src="../../scripts/custom.js"></script>

	</body>
</html>
