/* Controls*/
.controls {
	display: flex;
	padding: 12px 0px 12px 0px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(228, 228, 228);
	margin-bottom: 37px;
}
.control {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: var(--default-color);
	margin-right: 14px;
}
.mixitup-control-active {
	color: var(--golden-color);
}
.mixitup-control-active::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	background: var(--golden-color);
	bottom: -22px;
	left: 0;
}
/* Target Elements*/
.mix-container {
	display: flex;
    flex-wrap: wrap;
}
.mix-container .mix {
	flex-basis: 25%;
    width: 100%;
	vertical-align: top;
	background: #fff;
	border-radius: 2px;
	margin-bottom: 1rem;
	position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.best-product {
	font-weight: 500;
	font-size: 26px;
}
.product-img {
	position: relative;
    width: 100%;
}
.panel {
	position: absolute;
	bottom: -15px;
	left: 47%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	font-size: 18px;
	background-color: var(--main-bg-light);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	opacity: 0;
}
.panel a {
	width: 35px;
	height: 35px;
	padding: 5px;
	border-right: 1px solid rgb(211, 211, 211);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.panel a:hover {
	background-color: var(--golden-color);
	color: var(--main-bg-light);
}
.panel a:last-child {
	border-right: none;
}
.product-img:hover .panel {
	bottom: 15px;
	opacity: 1;
}
.discount-rate {
	position: absolute;
	left: 0;
	display: inline-block;
	border: 2px solid var(--default-color);
	padding: 12px 3px;
	font-size: 14px;
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.new-available {
	position: absolute;
	left: 0;
	display: inline-block;
	background-color: var(--dark-color);
	padding: 12px 4px;
	color: var(--main-bg-light);
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}
.review {
	display: flex;
	flex-direction: row;
	color: var(--golden-color);
	font-size: 14px;
	padding: 7px;
}
.product-name {
	font-weight: 500;
	padding-bottom: 7px;
}
.product-price del {
	color: var(--gray-light);
}
.product-colors {
	display: flex;
	padding-top: 10px;
}
.product-colors div {
	height: 14px;
	width: 18px;
	margin-right: 5px;
}
.black-block {
	background-color: var(--dark-color);
}
.gray-block {
	background-color: var(--gray-light);
}
.golden-block {
	background-color: var(--golden-color);
}
.pink-block {
	background-color: var(--pink-color);
}
/* Grid Breakpoints*/
/* 1 Columns */
/* .mix {
	width: 100%;
} */
/* 2 Columns */
/* @media screen and (min-width: 541px) {
	.mix {
		width: calc(100% / 2 - (((2 - 1) * 1rem) / 2));
	}
} */
/* 4 Columns */
/* @media screen and (min-width: 961px) {
	.mix {
		width: calc(100% / 4 - (((4 - 1) * 1rem) / 4));
	}
} */
