.main-nav {
	background-color: var(--main-bg-dark);
}
/* header section */
.product-section {
	position: relative;
}
/* slider-controller */
.sliding-btns {
	position: absolute;
	bottom: 372px;
	right: 157px;
	z-index: 99;
}
.sliding-btns span {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 6px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 2px solid var(--default-color);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.sliding-btns span:first-child::before {
	content: "";
	position: absolute;
	right: 8px;
	top: -12px;
	height: 14px;
	width: 3px;
	background-color: var(--default-color);
}
.sliding-btns span:first-child::after {
	content: "";
	position: absolute;
	right: 8px;
	top: 20px;
	height: 8px;
	width: 3px;
	background-color: var(--default-color);
}
.sliding-btns span:nth-child(2)::after {
	content: "";
	position: absolute;
	right: 8px;
	top: 46px;
	height: 10px;
	width: 3px;
	background-color: var(--default-color);
}
.intro-img {
	top: -32px !important;
	min-width: 340px;
	transform: scale(0.88);
	-webkit-transform: scale(0.88);
	-moz-transform: scale(0.88);
	-ms-transform: scale(0.88);
	-o-transform: scale(0.88);
}
.background {
	width: 195px;
	height: 582px;
	background-color: var(--dark-light);
	position: absolute;
	top: -72px;
	right: 207px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	transform: rotate(59deg);
	-webkit-transform: rotate(59deg);
	-moz-transform: rotate(59deg);
	-ms-transform: rotate(59deg);
	-o-transform: rotate(59deg);
	z-index: 1;
}
/* information section */
.info-section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	padding-left: 75px;
}
.intro-box {
	margin-bottom: 8rem;
	display: flex;
	flex-direction: column;
	gap: 14px;
}
.intro-box:hover {
	cursor: grab;
	cursor: -webkit-grab;
}
.intro-box:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}
.product-section:hover {
	cursor: grab;
	cursor: -webkit-grab;
}
.product-section:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}
.discount {
	color: var(--golden-color);
}
.intro-product-name {
	color: var(--default-color);
	font-size: 39px;
}
.description {
	color: var(--gray-light);
	font-size: 14px;
}
.shop-btn {
	padding: 10px 15px;
	width: 130px;
	margin-top: 20px;
	background-color: var(--dark-color);
	color: var(--main-bg-light);
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	z-index: 1;
}
.shop-btn:after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	direction: ltr;
	z-index: -1;
	background: #4e5052;
	transition: all 0.3s ease;
	border-radius: 5px;
}
.shop-btn:hover {
	color: var(--main-bg-light);
}
.shop-btn:hover:after {
	left: 0;
	right: auto;
	width: 100%;
}
.shop-btn:active {
	top: 2px;
}

/* responsive part */
@media (max-width: 1183px) {
	.info-section {
		padding-left: 30px;
	}
	.order-content-1 {
		order: 2;
	}
	.order-content-2 {
		order: 1;
	}
	.background {
		width: 202px;
		height: 493px;
		top: -16px;
		left: 197px;
	}
}
@media (max-width: 1006px) {
	.background {
		width: 140px;
		height: 441px;
	}
	.intro-img {
		top: 0px !important;
	}
}
@media (max-width: 941px) {
	.background {
		width: 152px;
		top: -16px;
		left: 157px;
	}
}
@media (max-width: 880px) {
	.background {
		width: 117px;
		top: -31px;
		height: 370px;
		left: 161px;
	}
}
@media (max-width: 767px) {
	.background {
		display: none;
	}
}
@media (max-width: 500px) {
	.background {
		display: block;
		width: 177px;
		top: -7px;
		height: 402px;
	}
	.sliding-btns {
		bottom: 277px;
		right: 145px;
	}
}
