.no-arrow {
	-moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
	display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
